<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Players"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="speaker$ | async as speaker">{{speaker.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="speaker-detail">
  <div text-center *ngIf="speaker$ | async as speaker">
    <img [src]="speaker.profilePic" [alt]="speaker.name">
    <br>

    <ion-button fill="clear" size="small" color="twitter" *ngIf="speaker.twitter" (click)="openSpeakerTwitter(speaker)">
      <ion-icon name="logo-twitter" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

  <p *ngIf="speaker$ | async as speaker">{{speaker.about}}</p>
</ion-content>
