<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>PlayerManager</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/schedule">
        <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
      <ion-button routerLink="/speakers">
        <ion-icon slot="icon-only" name="contacts"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <h4>Players</h4>
  <ion-list>
    <ion-grid fixed>
      <ion-row align-items-stretch>
        <ion-col size="12" size-md="6" *ngFor="let speaker of players">
          <ion-card class="speaker-card">
            <ion-card-header>
              <ion-item no-padding detail="false" lines="none" button [href]="'app/tabs/(speakers:speaker-details/'+ speaker.id">
                <ion-avatar slot="start">
<!--                  <img [src]="speaker.profilePic" alt="Speaker profile pic">-->
                </ion-avatar>
                {{speaker.title}}
              </ion-item>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
<!--                <ion-item *ngFor="let session of speaker.sessions" button [href]="'app/tabs/(speakers:session/'+session.id">-->
<!--                  <h3>{{session.name}}</h3>-->
<!--                </ion-item>-->

                <ion-item button (click)="goToSpeakerDetail(speaker)" [href]="'app/tabs/(speakers:speaker-details/'+ speaker.id">
                  <h3>About {{speaker.email}}</h3>
                </ion-item>
              </ion-list>
            </ion-card-content>

            <ion-row no-padding justify-content-center>
              <ion-col text-center>
                <ion-button fill="clear" size="small" *ngIf="speaker.email" color="primary" (click)="openSpeakerTwitter(speaker)">
                  <ion-icon name="logo-twitter" slot="start"></ion-icon>
                  Tweet
                </ion-button>
              </ion-col>
              <ion-col text-center size="6" size="{{ speaker.email ? '6' : '12' }}">
                <ion-button fill="clear" size="small" color="primary" (click)="openSpeakerShare(speaker)">
                  <ion-icon name="share-alt" slot="start"></ion-icon>
                  Share
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
