$categories: (
 technical: #58bcb4,
 break: #72B149,
 main: #4371A7,
);

page-schedule {
  @each $track, $value in map-remove($categories) {
    ion-item-sliding[track=#{$track}] ion-label {
      border-left: 4px solid $value;
      padding-left: 10px;
    }
  }
}
