.about-header {
  background: var(--ion-color-dark) url('../../../assets/img/about.jpg');
  background-size: cover;
  padding: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.about-header img {
  max-width: 300px;
  padding: 25px;
}

.about-info p {
  color: var(--ion-color-medium);
  text-align: left;
}

.about-info ion-icon {
  color: var(--ion-color-primary);
}

.ios .about-info {
  text-align: center;
}
